div.shadow {
    width:100%; 
    background:#666; 
    opacity:0.8;
    filter:alpha(opacity=80);
    position:absolute; 
    top:0; 
    left:0; 
    z-index:10000;
}
div.dialog {
    min-width:380px; 
    min-height:100px; 
    background:#fff; 
    border:solid 8px #666;
    position:absolute; 
    top:25%; 
    left:33%; 
    z-index:10001;
}
div.dialog_close {
    background:url('close.png');
    width:30px;
    height:30px;
    position:absolute;
    top:-18px;
    right:-20px;
    cursor:pointer;
}

/*** button ***/
a.button {
    text-decoration:none;
    background:#999;
    color:#FFFFFF;
    height:25px;
    padding:5px 15px;
    text-align:center;
    border:none;
    font-weight:bold;
    opacity:0.6;
    filter:alpha(opacity=60);
    cursor:pointer;
}

a.cancel_button {
    background:#ff4500;
}

a.confirm_button {
    background:#008000;
}
    
/*** 提示 ****/
.notice {
    margin-top:15px;
    margin-left:20px;
    margin-right:20px;
}

.notice .msg {
    font-size:15px;
    font-weight:bold;
}

.notice .buttons {
    margin-top:20px;
}
